<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::content})}">
<head>
    <title>Importuj Pracowników</title>
</head>
<body>
<section th:fragment="content">
    <h2>Importuj pracowników z pliku</h2>

    <form th:action="@{/employees/import}" method="post" enctype="multipart/form-data" class="form-container">
        <div class="form-group">
            <label for="file">Wybierz plik:</label>
            <input type="file" id="file" name="file" required accept=".csv,.xml" />
        </div>

        <div class="form-group">
            <label>Typ pliku:</label>
            <div>
                <input type="radio" id="type-csv" name="fileType" value="csv" checked>
                <label for="type-csv">CSV</label>
            </div>
            <div>
                <input type="radio" id="type-xml" name="fileType" value="xml">
                <label for="type-xml">XML</label>
            </div>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn">Importuj</button>
        </div>
    </form>
</section>
</body>
</html>