<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::content})}">
<head>
    <title>Wyszukaj Pracowników</title>
</head>
<body>
<section th:fragment="content">
    <h2>Wyszukaj pracowników po firmie</h2>
    <form th:action="@{/employees/search}" method="post" class="form-container">
        <div class="form-group">
            <label for="company">Nazwa firmy:</label>
            <input type="text" id="company" name="company" required />
        </div>
        <div class="form-actions">
            <button type="submit" class="btn">Wyszukaj</button>
        </div>
    </form>
</section>
</body>
</html>